body {
    margin: 0;
    text-align: center;
    font-family: 'Alata', sans-serif;
}

h1 {
    margin-top: 50px auto 0px auto;
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    color: #11999E;
}

.top-container {
    background-color: #f6f4e6;
    position: relative;
    padding-top: 100px;
}

.cloud-top {
    position: absolute;
    right: 300px;
    top: 50px;    
}

.cloud-bottom {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.middle-container {
    margin: 100px 0px;
}

.middle-container .profilePicture img {
    height: auto;
    width: 200px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.coding-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chillies-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}


.bottom-container img{
    height: auto;
    width: 24px;
    margin: 10px 0px auto 10px;
    position: relative;
    top: 5px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 10px;
}

.presentation {
    color: #40514E;
    width: 30%;
    margin: auto;
}

hr {
    border: none;
    border-top: 8px dotted lightgray;
    width: 70px;
    margin: 100px auto;
}

.footer-link {
    color: #11999E;
    font-size: 18px;
    font-family: 'Alata', sans-serif;
}

.footer-link:hover{
    color: #EAF6F6;
}

.copyright {
    color: #EAF6F6;
    font-size: 14px;
    padding-top: 20px;
}

.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #04bcd4 5%, #408c99 100%);
	background-color:#04bcd4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Alata', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #04bcd4 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}

.contact-message {
    width: 30%;
    margin: 40px auto 60px;
}
